
mj-attributes
 mj-class(name="padding5px10px" padding="5px 10px")
 mj-class(name="padding10px10px" padding="10px 10px")
 mj-class(name="griBackground" background-color='#C0C0C0')
 mj-class(name="acikyesilBackground" background-color='#2D8633')
 mj-class(name="koyuyesilBackground" background-color='#0B280B')